<div id='footer_content'>
	<table width="970" align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
  <tbody>
		<tr> 
			<td width="934">&nbsp;</td>
			<td width="20">&nbsp;</td>
		</tr>
		<tr> 
			<td colspan="2"> 
				<hr color="#ebebeb" size="1">
			</td>
		</tr>
		<tr class="footer">
			<td class="footer" valign="top" width="934" height="10"> 
				<div align="right">
				  <a href="http://www.yijia023.com">首页</a> | 
					<a href="http://www.yijia023.com/%E8%B5%B0%E8%BF%9B%E7%9B%8A%E5%AE%B6">关于益家</a> | 
					<a href="http://www.yijia023.com/服务项目">我们的服务</a> | 
					<a href="http://www.yijia023.com/blog">行业动态</a> | 
					<a href="http://www.yijia023.com/news">最新新闻</a> | 
					<a href="http://www.yijia023.com/contact">联系我们</a> | 
					<a href="http://www.yijia023.com/sitemap">网站地图</a>
			  </div>
			</td>
			<td class="footer" valign="top" width="20" height="10">&nbsp;</td>
		</tr>
		<tr class="footer"> 
			<td class="footer" valign="top" width="934" height="30"> 
				<div align="right">
				 <%= t('.copyright').html_safe -%> <%= Time.now.year -%> <%= RefinerySetting.get(:site_name) %>
				</div>
			</td>
			<td class="footer" valign="top" width="20" height="10"> 
				<div align="right"></div>
			</td>
		</tr>
  </tbody>
	</table>
</div>
